@import "./define";
@import "./animate";
html{
    overflow-y: scroll;
}
html,body{
    @extend %w100;
    background-color: #f5f5f5;
}
#app{
    @extend %pr;
}
.views-wrap{
    @extend %ma;
    @extend %oh;
    @extend %pr;
    padding: 80px 20px 0;
    width: 760px;
}



