@import "./define";
@import "./animate";
html{
    overflow-y: scroll;
}
html,body{
    @extend %w100;
    background-color: #f5f5f5;
}
#app{
    @extend %pr;
}
.views-wrap{
    @extend %ma;
    @extend %oh;
    padding-top: 80px;
    width: 800px;
}



