@font-face {
  font-family: "me-icon"; /* Project id 3971130 */
  src: url('iconfont.woff2?t=1683250008879') format('woff2'),
       url('iconfont.woff?t=1683250008879') format('woff'),
       url('iconfont.ttf?t=1683250008879') format('truetype'),
       url('iconfont.svg?t=1683250008879#me-icon') format('svg');
}

.me-icon {
  font-family: "me-icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.me-right-arrow:before {
  content: "\e840";
}

.me-close:before {
  content: "\e615";
}

.me-menu:before {
  content: "\e7c6";
}

.me-success:before {
  content: "\e7f8";
}

.me-copy:before {
  content: "\e61d";
}

.me-arrow:before {
  content: "\e629";
}

.me-return-copy:before {
  content: "\e6f6";
}

.me-github:before {
  content: "\e600";
}

.me-mail:before {
  content: "\e6af";
}

.me-top:before {
  content: "\e6f5";
}

.me-return:before {
  content: "\e662";
}

.me-link:before {
  content: "\e6b6";
}

.me-return-copy1:before {
  content: "\e6f7";
}

.me-light:before {
  content: "\e64b";
}

.me-dark:before {
  content: "\e6c2";
}

.me-logo:before {
  content: "\e60c";
}

