.prose{
  max-width: none !important;
  h1{
    line-height: 1.6;
    font-size: 2em;
  }
}
.prose :where(code):not(:where([class~=code-block] *)):not(:where([class~=not-prose] *)) {
  background-color: rgba(var(--ds-bg-regular-color), 1);
  // color: rgb(229 229 229/var(--tw-text-opacity));
  color: rgba(var(--ds-primary-color), 1);
  padding: 0.25rem 0.5rem;
  white-space: pre-wrap;
  font-weight: normal;
  border-radius: 4px;

  &::after,
  &::before{
    display: none;
  }
}

.prose{
  .header-anchor{
    float: left;
    margin-left: -0.87em;
    padding-right: 0.23em;
    font-weight: 500;
    user-select: none;
    opacity: 0;
    transition: color .25s, opacity .25s;
  }

  a{
    text-decoration: none;
    font-weight: normal;
    color: rgba(var(--ds-primary-color), 1);
  }

  h1:hover,
  h1:hover,
  h2:hover,
  h2:focus,
  h3:hover,
  h3:focus,
  h4:hover,
  h4:focus,
  h5:hover,
  h5:focus,
  h6:hover,
  h6:focus {
    .header-anchor{
      opacity: 1;
    }
  }

}

.prose-headings:font-normal :is(:where(h1, h2, h3, h4, h5, h6, th):not(:where([class~="not-prose"] *))) {
  font-weight: 500;
}

.code-block{
  overflow: hidden;
  border-radius: 4px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  &.is-collapsed{
    .code-block-inner{
      display: none;
    }
    .code-arrow-btn{
      margin-left: -3px;
      i{
        transform: rotateZ(-90deg);
      }
    }
  }
}
.code-block-menu{
  background-color: #242933;
  height: 38px;
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 0 12px;
}
.code-block-lang{
  margin-left: auto;
  color: hsla(220, 7.89473684%, 70.19607843%, 0.5);
}
.code-block-divider{
  margin: 0 12px;
  height: 16px;
  background-color: #3c424d;
  width: 1px;
}
.code-block-btn{
  color: rgb(179, 179, 179);
  height: 24px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  cursor: pointer;
  width: 24px;
  box-sizing: border-box;
  font-size: 12px;
  background-color: #404756;
  &:hover{
    background-color: #535f78;
  }
}
.code-arrow-btn{
  margin-left: 5px;
  i{
    pointer-events: none;
    transition: all 0.3s;
  }
}
.code-copy-btn{
  &.is-success{
    color: #fff;
    background-color: rgb(0, 237, 51);
  }
}
.code-block-inner{
  display: flex;
  overflow-x: auto;
  border-top: 1px solid #191E25;
  background-color: #272c35;
  font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
  padding: 10px 0;
}
.code-block-line-groups{
  position: sticky;
  left: 0;
  padding: 5px 8px 5px 12px;
  background-color: #272c35;
  z-index: 1;
  user-select: none;
}
.code-block-line{
  display: block;
  font-size: 13px;
  line-height: 1.5;
  color: rgb(179, 179, 179);
  min-width: 20px;
  text-align: right;
  white-space: nowrap;
}
.code-block-content{
  pre{
    padding: 5px 20px 5px 5px;
    margin-top: 0;
    margin-bottom: 0;
    background-color: transparent;
  }
  code{
    display: block;
    position: relative;
    line-height: 1.5;
    tab-size: 4;
    font-size: 13px;
    font-weight: 300;
  }
}
