@layer base {
  :root{
    --ds-primary-color: 0, 112, 243;
  }

  // light
  [data-theme="light"] {
    --ds-bg-base-color: 255, 255, 255;
    --ds-bg-base-muted-color: 38, 38, 38;
  }

  // dark
  [data-theme="dark"] {
    --ds-bg-base-color: 23, 23, 23;
    --ds-bg-base-muted-color: 38, 38, 38;
  }
}