.menu{
  @apply fixed left-0 right-0 bottom-0 top-16 bg-regular-color border-t border-secondary-color lg:hidden overflow-y-auto box-border pb-20;
  transition: opacity 300ms ease, transform 300ms ease;

  li{
    @apply opacity-0 whitespace-nowrap;
    transform: translateX(-16px);
    transition: opacity 300ms ease, transform 300ms ease, width 300ms ease, border-color 300ms ease;
  }

  &.isActive{
    @apply opacity-100;
    li{
      @apply opacity-100 w-full;
      transform: translateX(0);
    }
  }
}

.lastLiNotBorder{
  li{
    &:last-child{
      div{
        border-bottom: none;
      }
    }
  }
}
